{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <p>Click the button below to start camera:</p>
    <a href="{% url 'emotion_detector' %}">
        <button style="padding: 10px 20px; font-size: 16px;">Emotion Detector</button>
    </a>
    <a href="{% url 'hand_gesture_detector' %}">
        <button style="padding: 10px 20px; font-size: 16px;">Hand Gesture Detector</button>
    </a>
    <a href="{% url 'upload_photo' %}">
        <button style="padding: 10px 20px; font-size: 16px;">Upload Photo</button>
    </a>
{% endblock %}
